##数据库配置
spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/sell?useUnicode=true&useSSL=false&characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    ##显示数据库语句
    show-sql: true
  jackson:
    default-property-inclusion: non-null  
  redis:
    host: 127.0.0.1 #192.168.8.102
    port: 6379
    password: 

server:
  #port: 8090
  servlet:
    context-path: /sell

#
mybatis:
  #type-aliases-package: com.clown.sell.domain
  mapper-locations:
  #mapper文件的路径
  - classpath:mapper/*Mapper.xml
  
logging:
  level:
    com.clown.sell.domain.mapper: trace

#微信
wechat:
  myAppId:  wx938244498af78ce8 #wx97f2fbed21a2ef3d
  myAppSecret:  937ca847d392bf97df0e50ef3115842a #20542aa187789e5be9d827b74ae39c44
  openAppId: wxbdc5610cc59c1631
  openAppSecret: 3d6be0a4035d839573b04816624a415e
  mchId:  1409146202
  mchkey: c976503d34ca432c601361f969fd8d85
  #keyPath: /var/weixin_cert/h5.p12
  notifyUrl: http://clown.com/sell/pay/notify
  templateId:
    orderStatus: lR_GMt4zFt5zvwVUbqOepPJY3QzHRnKrTt5hGTNQQMM

#项目URL链接
projecturl:
  wechatMpAuthorize: http://clown.com
  wechatOpenAuthorize: http://clown.com
  sell: http://127.0.0.1:8080
  
